
.columns {
display: inline-block;
color: violet;
}

/*.initialpage {
display: none;
}*/
body {
background-color: purple;
}
#output {
font-size: 24pt;
color: green;
}

.reveals{
  font-size: 5vh;
}

.a-answers {
  color: lightblue;
}

/*hopefully this will render due to specificity*/
#bigJavaText {
width: 70vw;
font-size: 20pt;
padding-left: 5vw;
}

.b-answers {
  color: ruby;
}

/*c answers are css design*/
.c-answers {
  color: yellow;
  background-image: url(https://netdna.webdesignerdepot.com/uploads/2009/03/css_remix.jpg);
}
