
.columns {
display: inline-block;
color: violet;
}

/*.initialpage {
display: none;
}*/
body {
background-color: purple;
padding: 10pt;
}
#output {
font-size: 24pt;
color: green;
}

.reveals{
  font-size: 5vh;
  padding-left: 3vw;
}

.a-answers {
  color: lightblue;
}

/*hopefully this will render due to specificity*/
#bigJavaText {
width: 70vw;
font-size: 20pt;
}

.b-answers {
  color: red;
}

/*c answers are css design*/
.c-answers {
  color: yellow;
  background-color: pink;
}
